

<br><br><br>
<div class="row">
<div class="col-lg-3">
</div>
  <div class="col-lg-6">
    <section class=" border rounded border-3 p-4 m-4">
        <h2 class="text-center">Modifier une Note </h2>
       <%= render 'form', note: @note %>

                    <%= link_to 'Show', @note %> |
                    <%= link_to 'Back', notes_path %>
    </section>
  </div>
<div class="col-lg-3">
</div>
</div>
<br><br> <br><br>