<head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

     <title>Notebook | F.A.Q </title>
    <meta name="description" content="Pour la cause, nous acceuillons dans notre équipe des développeurs web et mobile, des web designer , des chercheurs en IA et autres . Tous autant que vous êtes, professionnels ou pas, particuliers, freelance, votre concours même minime à ce projet ne sera pas de refus...
" /> 
    <!-- La balise keywords n’est pas supporté par Google -->
    <meta name="keywords" content="innovation notebook fredthedev ifri freddy.agbona bénin prohackfr application web site note temps informations outils minuteur" />
    <!-- Utilisez plutôt la création de Google -->
    <meta name="news_keywords" content="nnovation notebook fredthedev ifri freddy.agbona bénin prohackfr application web site note temps informations outils minuteur" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> 

 

    <meta name="mobile-web-app-capable" content="yes" /> 
    <meta name="googlebot" content="indexing" />
    <meta name="author" content="FredTheDev" />
    <meta name="designer" content="FredTheDev" />
    <meta name="generator" content="FredTheDev" />
    <meta name="rating" content="10" />
    <meta name="application-name" content="NoteBook" />
    <meta name="contact" content="+229 99545481 ntbookfr.herokuapp.com ’[adresse]’" />
    <meta name="mobile-agent" content="format=html5; url=mobile.htm" />
    <meta name="web_author" content="FredTheDev" />
    <meta name="designer" content="FredTheDev" />
    <meta name="collection" content="FredTheDev" />
    <meta name="generator" content="" />
    <meta name="version" content="" />
  </head>
  


<br><br><br><br>
<section class="container-fluid bg-light">
    <h2 class="text-center"><u>POURQUOI NoteBook ? </u></h2>
    <p>
        <b>NoteBook</b> est une plateforme qui vous aide à organiser vos idées et vos journées, il peut servir de <b>rappel</b>, de <b>journal de bord</b> ou encore de <b>brouillon</b>...
    </p>
    <br>
     <h2 class="text-center"> <u>PERSPECTIVES</u> </h2>
       <p>
       Evidemment <b>NoteBook</b> ne sera pas juste une appli de journal. Avec le temps il est prévu qu'elle adopte des fonctionnalités de <b>chat instantané, live, trackeur de dépenses, pomodoro, un moteur de blog pour les utilisateurs, un moteur QA dans plusieurs domaines, un moteur de forum, une base de données de documents électroniques ou pas</b>,... <br>

       Pour la cause, nous acceuillons dans notre équipe des développeurs web et mobile, des web designer , des chercheurs en IA et autres . Tous autant que vous êtes, professionnels ou pas, particuliers, freelance, votre concours même minime à ce projet ne sera pas de refus. <br><br>

       <a href ="https://wa.link/i441yv" target="_blank" class="btn btn-warning w-100" >Cliquez ici pour rejoindre la <b>Dream Team</b>
        </a>
        <br>
    </p>
    <hr>
</section> <br><br> <br><br>

<section class="container-fluid bg-warning">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
        <br>
                <h2 class="text-white text-center">Foire Aux Questions (F.A.Q) </h2>
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item ">
                    <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed bg-warning text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                       <b> Comment valider son compte ?</b>
                    </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Pour valider votre compte il vous suffit après inscription de vérifier votre boîte mail, des insctructions vous y attendront pour la validationd de votre compte sur <b> NoteBook </b>. <br>  <a href="/users/sign_in">Inscrivez-vous ici ! </a></div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed bg-warning text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                       <b> Pourquoi ne puis-je pas ajouter un avatar ? </b>
                    </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Pour le moment, nous ne permettons pas encore l'utilisation d'avatar ou d'image pour identifier les utilisateurs vu qu'il n'y aura pas encore d'interaction entre ces derniers, nous n'en voyons pas l'utilité. Nous vous rassurons quand même que c'est une fonctionnalité qui sera implémenté au même titre que celle de chat. Profitez de cette version bêta en attendant !</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed bg-warning text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                       <b> Coment ajouter une note ? </b>
                    </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Utilser le menu de la barre latérale pour ajouter une note, consulter vos notes, votre profil , les modifier ou les supprimer.</div>
                    </div>
                </div>
                </div> <br>
        </div>
        <div class="col-lg-3">
        </div>
    </div>

</section>
<br><br> <br><br>