<div id="carouselExampleLight" class="carousel carousel-light slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleLight" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleLight" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleLight" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://cdn.pixabay.com/photo/2016/12/08/13/49/pencil-1891732_960_720.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>NoteBook</h5>
        <p>...</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://cdn.pixabay.com/photo/2017/08/13/16/43/notebook-2637757_960_720.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>NoteBook</h5>
        <p>Prenez aisément des notes.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://cdn.pixabay.com/photo/2017/10/14/09/56/journal-2850091_960_720.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>NoteBook</h5>
        <p>Bientôt un journal de bord</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleLight" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleLight" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br><br>
<section class="container-fluid">
    <h2 class="text-center">Espace Pubs</h2> <br>
                

                  
                  <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="https://res.cloudinary.com/hgjpsweyn/image/upload/v1643422545/background/241036790_332282492013230_1236191326528425118_n_dq9abm.jpg" class="card-img-top" alt="affiche inflenceur">
                <div class="card-body">
                  <h5 class="card-title">Avez-vous ce qu'il faut pour devenir <b>INFLUENCEUR </b> ?</h5>
                  <p class="card-text">Vous avez une certaine notoriété et une audience toute faite ?<br>
                        Vous avez une passion à faire valoir à travers les réseaux sociaux ?<br>
                        Si vous avez répondu <b> " OUI " </b> à ces questions, alors ce qui suit est pour vous .<br>
                        Postulez pour rejoindre notre programme de formation à travers lequel vous découvrirez " les cinq (05) étapes clé pour devenir influenceur " .</p>

                  <a href="https://wa.link/jr07do" class="btn btn-primary w-100 text-white "  target="_blank"> ACCÉDER À LA FORMATION </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://res.cloudinary.com/hgjpsweyn/image/upload/v1643422544/background/241633634_227894815844349_1987335544915385732_n_jcter6.jpg" class="card-img-top" alt="affiche graphisme">
                <div class="card-body">
                  <h5 class="card-title">FORMATION EN  GRAPHISME</h5>
                  <p class="card-text">Cette formation sera sans doute l'une des plus intéressantes que vous ayez reçue.<br>
                        Parce que nos méthodes diffèrent.<br>
                        Il est évident que le graphisme  occupe une importante place dans l'identité  visuelle des entreprises et particuliers. Sachez que plus de 100.00 commandes de contenus graphiques (logos, bannières,  montage photo, affiche , ...)  sont  faites  par jour en moyenne.<br>
                        Rejoindre  cette formation vous permettra de tirer profit de cette compétence  notamment recherchée.</p>
                          <a href="https://wa.link/pp1loa" class="btn btn-primary w-100 text-white "  target="_blank"> ACCÉDER À LA FORMATION </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://res.cloudinary.com/hgjpsweyn/image/upload/v1643424005/background/263123567_1308045999632027_2153272069172060954_n_wbv789.jpg" class="card-img-top" alt="ebook">
                <div class="card-body">
                  <h5 class="card-title">EBOOK</h5>
                  <p class="card-text">Naître Africain : Sacrifice ou Défi ? <br> 
                  Un essai qui aborde les problèmes qui handicapent l’éclosion de l’Afrique et l’épanouissement de l’Africain et qui propose des solutions pratiques et concrètes. <br>

                  Lisez le résumé de l'ouvrage fait par <b> Freddy AGBONA</b> <a href="" target="_blank" >ici</a></p>

                   <a href="https://kloo.me/livre" class="btn btn-primary w-100 text-white "  target="_blank"> ACCÉDER À L'EBOOK </a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://res.cloudinary.com/hgjpsweyn/image/upload/v1643423809/background/catalogue_olouvk.jpg" class="card-img-top" alt="PACK PROMOS">
                <div class="card-body">
                  <h5 class="card-title">BOOSTEZ VOTRE BUSINESS</h5>
                  <p class="card-text">Le saviez-vous ? <br> À l'ère actuelle, la digitalisation n'est pas seulement un effet de mode. Elle répond à un objectif de performance mais aussi de survie. Mieux, il s'agit d'un véritable enjeu. En 2021 plus que jamais, une entreprise qui entame sa transformation digitale aura des opportunités de croissance.<br>

                  Nous lançons cette promotion de Pack de Services pour vous accompagner dans cette démarche de digitalisation. Ces Packs sont composés dans le seul but de vous  permettre d’avoir une bonne présence en ligne et faire valoir vos activités à la vitesse de la lumière.<br>

                  Vous pourriez donc faire un Gain de temps, avoir une communication plus rapide et simplifiée. Et surtout dépenser moins  grâce à la promotion en cours.</p>
                  <a href="https://wa.link/pp1loa" class="btn btn-primary w-100 text-white "  target="_blank"> ACCÉDER AU SERVICE </a>
                </div>
              </div>
            </div>
          </div>
</section>
<br><br><br>

<section class="container bg-warning">
  <h2 class="text-center text-light">Ressources Gratuites</h2>
  <br><br><br>
<br><br><br>
      <h2 class="text-center text-light">Coming Soon ! </h2><br><br>
</section>

<br><br><br>
<br><br><br>