<p>Hello <%= @resource.email %>!</p>

<p>Nous vous contactons pour vous informer que votre mot de passe a été modifié.</p>



<br><br>
<p>N'hésitez pas à nous faire part de vos avis sur l'application qui jusqu'à maintenant subit des modifications et est disponible en version bêta </p>
<p> Faites nous un retour par mail, notre équipe s'en chargera, merci !!! </p>
<p> Cordialement, <br> <a href="https://calendly.com/fredagbona"> FredTheDev </a> </p>